<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "ScalikeJDBC" %></title>
    <script type="text/javascript" src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"/>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body>
    <div class="container">
      <div class="row">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= tag :img, :src => "/images/logo_small.png" %></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="/documentation" class="dropdown-toggle" data-toggle="dropdown">Documentation&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Setup', '/documentation/setup.html' %></li>
                <li><%= link_to 'Configuration', '/documentation/configuration.html' %></li>
                <li><%= link_to 'Connection Pool', '/documentation/connection-pool.html' %></li>
                <li><%= link_to 'Operations', '/documentation/operations.html' %></li>
                <li><%= link_to 'Transaction', '/documentation/transaction.html' %></li>
                <li><%= link_to 'Auto Session', '/documentation/auto-session.html' %></li>
                <li><%= link_to 'SQLInterpolation', '/documentation/sql-interpolation.html' %></li>
                <li><%= link_to 'QueryDSL', '/documentation/query-dsl.html' %></li>
                <li><%= link_to 'One-to-x API', '/documentation/one-to-x.html' %></li>
                <li><%= link_to 'Query Inspector', '/documentation/query-inspector.html' %></li>
                <li><%= link_to 'Reverse Engineering', '/documentation/reverse-engineering.html' %></li>
                <li><%= link_to 'Testing', '/documentation/testing.html' %></li>
                <li><%= link_to 'Play2 Support', '/documentation/playframework-support.html' %></li>
                <li><%= link_to 'Contribution', '/contribution.html' %></li>
                <li><%= link_to 'dbconsole', '/documentation/dbconsole.html' %></li>
              </ul>
            </li>
            <li><a href="https://groups.google.com/group/scalikejdbc-users-group">Users Group</a></li>
            <li><a href="https://github.com/seratch/scalikejdbc">Source</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
        <div class="col-xs-2">
          <div class="content small">
            <h5>Documentation</h5>
            <p><%= link_to 'Setup', '/documentation/setup.html' %></p>
            <p><%= link_to 'Configuration', '/documentation/configuration.html' %></p>
            <p><%= link_to 'Connection Pool', '/documentation/connection-pool.html' %></p>
            <p><%= link_to 'Operations', '/documentation/operations.html' %></p>
            <p><%= link_to 'Transaction', '/documentation/transaction.html' %></p>
            <p><%= link_to 'Auto Session', '/documentation/auto-session.html' %></p>
            <p><%= link_to 'SQLInterpolation', '/documentation/sql-interpolation.html' %></p>
            <p><%= link_to 'QueryDSL', '/documentation/query-dsl.html' %></p>
            <p><%= link_to 'One-to-x API', '/documentation/one-to-x.html' %></p>
            <p><%= link_to 'Query Inspector', '/documentation/query-inspector.html' %></p>
            <p><%= link_to 'Reverse Engineering', '/documentation/reverse-engineering.html' %></p>
            <p><%= link_to 'Testing', '/documentation/testing.html' %></p>
            <p><%= link_to 'Play2 Support', '/documentation/playframework-support.html' %></p>
            <p><%= link_to 'Contribution', '/contribution.html' %></p>
            <p><%= link_to 'dbconsole', '/documentation/dbconsole.html' %></p>
            <hr/>
            <h5>Links</h5>
            <p><a href="http://www.amazon.co.jp/dp/B00AW0AC06">Cookbook(Japanese)</a></p>
            <p><a href="https://github.com/seratch/skinny-framework#orm">Skinny ORM</a></p>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="content">
<a href="https://github.com/seratch/scalikejdbc"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
            <%= yield %>
            <hr/>
            <div class="alert alert-info small"> 
              If this webpage has typo or something wrong, Please report or fix. <%= link_to 'How?', '/contribution.html' %>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </body>
</html>

